body {
    background-color:honeydew;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

div {
    width: 900px;
    height: fit-content;
    margin: auto;
    font-size: 145%;
  }